.card-size
{
    /*width: 250px;*/
    height: 435px;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15), 0 1px 4px rgba(0, 0, 0, .1);
}

.img-size
{
    /*max-width: 200px;*/
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.barra-navegacao
{
  height: 130px;
}

.botao-pesquisa
{
  margin-left: -30px;
}


#qtd-carrinho {
    display: inline-block;
    line-height: 0;
    font-size: 11px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 18px;
    top: 5px;
    left: 24px;
}

.descricao-produto {
    font-size: 15px;
    text-transform: capitalize;
    text-align: left;
    line-height: 30px;
    height: 60px;
    overflow: hidden;
    display: block;
}


.descricao-produto-detalhe-pedido .descricao-status-detalhe-pedido
{
    line-height: 20px;
    height: 40px;
}


#qtd-item {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
}


.endereco-atual
{
    margin: 0px 20px 40px 40px;
    padding: 20px;
    background: #F5F5F5;
}


/*----------------------------------- Index farmácia ----------------------------------*/
.farmacia-index-box
{
  height: 100%;
}

.farmacia-index-box-vazio
{
  height: 200px;
}

.status-pedidos-box
{
  line-height: 23px;
  height: 46px;
}

.botao-box
{
  line-height: 23px;
  height: 46px;
  width: 100%;
}

.status-atual
{
  margin: 0px 20px 40px 40px;
  padding: 20px;
  background: #F5F5F5;
}

.descricao-produto-box
{
  line-height: 20px;
  height: 40px;
}

.img-box
{
  max-height: 75px;
}


/*----------------------------------- Cadastro estoque farmácia ----------------------------------*/
.img-cadastro-estoque
{
  height: 500px;
}



/*----------------------------------- Login ----------------------------------*/
#login #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.botao-login
{
  width: 100%;  
}

.esqueci-senha
{
  margin-top: -10px;
}

.fazer-cadastro
{
  margin-top: -25px;
}


/*----------------------------------- Esqueci a senha ----------------------------------*/

#recuperacao #recuperacao-row #recuperacao-column #recuperacao-box {
  margin-top: 80px;
  max-width: 600px;
  height: 240px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#recuperacao #recuperacao-row #recuperacao-column #recuperacao-box #recuperacao-form {
  padding: 20px;
}
#recuperacao #recuperacao-row #recuperacao-column #recuperacao-box #recuperacao-form #register-link {
  margin-top: -85px;
}

.botao-recuperacao
{
  width: 100%;  
}

/*----------------ESTILO PRODUTOS------------------*/
/*.gray-background {
	background-color: #f5f7f9;
	width: 100%
}

.products__cultivation__category {
	display: grid;
	padding: 60px 0;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr)
}


.card__product {
    box-shadow: 0 0 2px rgba(0, 0, 0, .15), 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: ease-in 150ms;
    -moz-transition: ease-in 150ms;
    -o-transition: ease-in 150ms;
    transition: ease-in 150ms;
    display: flex;
    height: 320px
}

.card__product:last-child {
    margin-right: 0
}

.card__product a {
    width: 100%
}

.card__product a .card__cover {
    max-height: 70%;
    overflow: hidden
}

.card__product a .card__cover img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card__product:hover {
    opacity: .9;
    -webkit-transition: ease-out 150ms;
    -moz-transition: ease-out 150ms;
    -o-transition: ease-out 150ms;
    transition: ease-out 150ms;
    transform: translateY(-2px);
    box-shadow: 0 0 2px rgba(0, 0, 0, .15), 0 3px 4px rgba(0, 0, 0, .1)
}

.card__product .card__product-header {
    padding: 25px;
    max-height: 30%
}

.card__product .card__product-header h2 {
    color: #2a526f
}


.title-medium {
	font-family: proxima-nova, sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 120%;
	font-size: 1.375rem;
	color: #4c5967
}*/

.product-section-title {
    margin-bottom: 0;
  }
  
  .product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #919191;
  }
  
  .product-section-price {
    font-size: 38px;
    color: #212121;
    margin-bottom: 16px;
  }


  /*----------------------------------- Carrinho ----------------------------------*/

  .total-carrinho
  {
    background: #F5F5F5;    
    padding: 20px;
  }
  

  .cart-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin: 60px auto;
  }
  
  .cart-section h2 {
    margin-bottom: 30px;
  }
  
  .cart-section .cart-table-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #919191;
    padding: 14px 0;
  }
  
  .cart-section .cart-table-row:last-child {
    border-bottom: 1px solid #919191;
  }
  
  .cart-section .cart-table-row .cart-table-row-left,
  .cart-section .cart-table-row .cart-table-row-right {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  .cart-section .cart-table-row .cart-table-row-left {
    width: 50%;
  }
  
  .cart-section .cart-table-row .cart-table-row-right {
    width: 33%;
    padding-top: 10px;
  }
  
  .cart-section .cart-table-row .cart-table-img {
    max-height: 75px;
  }
  
  .cart-section .cart-table-row .cart-table-actions {
    text-align: right;
    font-size: 14px;
  }
  
  .cart-section .cart-table-row .cart-item-details {
    padding-top: 5px;
    /*padding-left: 40px;*/    
    /*display: inline-block;*/
    /*align-items: left;*/
    flex-direction: row;
  }
  
  .cart-section .cart-table-row .cart-table-description {
    color: #919191;
  }
  
  .cart-section .cart-table-row .cart-options {
    color: #212121;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
  }
  
  .cart-section .cart-table-row .cart-options:hover {
    color: #6e6e6e;
  }
  
  .cart-section .cart-totals {
    margin: 30px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
  }
  
  .cart-section .cart-totals .cart-totals-left {
    width: 50%;
  }
  
  .cart-section .cart-totals .cart-totals-right {
    display: flex;
    justify-content: space-between;
    width: 35%;
    text-align: right;
  }
  
  .cart-section .cart-totals .cart-totals-total {
    font-weight: bold;
    font-size: 22px;
    line-height: 2;
  }
  
  .cart-section .cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .cart-section .have-code {
    display: block;
    margin: 14px 0;
    text-align: right;
  }
  
  .cart-section .have-code-container {
    border: 1px solid #919191;
    padding: 16px;
    width: 50%;
    margin-left: auto;
  }
  
  .cart-section .have-code-container form {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-section .have-code-container input[type=text] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
  }
  
  .cart-section .have-code-container input[type=submit] {
    background: white;
    border: 1px solid #919191;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .cart-section .have-code-container input[type=submit]:hover {
    background: #212121;
  }








/*width: 100%;
height: 100%;
max-height: 175px;
transition: max-height 0.1s linear;
background-color: #fff;
border-radius: 0 0 10px 10px;
padding: 36px 10px 10px 10px;*/



/*------------------------------------- Detalhe produto -------------------------------*/


.img-produto
{
  width: 520px;
  height: 520px;
}

.linha-titulo-produto
{
  height: 100px;
  line-height: 50px;
}

.linha-composicao-produto
{
  height: 60px;
  line-height: 20px;
}
